@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Playwrite+NO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Pacifico&display=swap');


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-detail-color: #A0522D;
  --color-main-color: #ebaa12;
  --color-code-foreground: #171717;
  --background-image-background-gradient: linear-gradient(160deg, #e7aa51 0%, #ffe499 30%, #8d5a1b 60%, #e7aa51 80%, #ac7031 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.all-center { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.nabla-font {
  font-family: "Nabla", system-ui !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

/* .playwrite-no-font {
  font-family: "Playwrite NO", cursive !important;
} */

.pacifico-regular-font {
  font-family: "Pacifico", cursive !important;
}
.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui !important;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Kode Mono", monospace;
}

.shimmer-effect {
  overflow: hidden;
  position: relative;
}

.shimmer-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
  transition: transform 0.6s ease-in-out;
  pointer-events: none;
}

.shimmer-effect:hover::after {
  transform: translateX(200%);
}

.underline-slide {
  position: relative;
  display: inline-block;
}

.underline-slide::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.underline-slide:hover::after {
  transform: scaleX(1);
}